body {
	background-color: #121212;
}
.calc {
	border: 3px solid grey;
	width: 370px;
	border-radius: 5px;
	padding: 5px;
	margin: 0 auto;
	background-color: #eee;
}
.buttons button {
	width: 100px;
	/*background-color: white;*/

	padding: 10px 20px;
	border: 1px solid #CCC;
	outline: none;
	margin: 10px;
	font-weight: bold;
	transition: background-color 0.3s ease, transform 0.2s ease, border 0.5s ease, border-radius 0.7s ease;
	cursor: pointer;
}
.buttons button:hover {
	background-color: white;
	border: 1px solid black;
	border-radius: 50px;
	transform:  scale(1.3);
}
#exprassion {
	width: 100%;
	padding: 10px;
	margin: 10px 0;
	text-align: right;
	font-size: 16px;
	box-sizing: border-box;
	border-radius: 10px;
	background-color: grey;
	color: white;
}
.site {
	position: absolute;
	top: 15px;
	left: 15px;
	transform: rotate(180deg);
	z-index: 1;
}